<!doctype html>
<html lang="en">

<head>
  <title>NER prediction </title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" type="text/css" href="./style/style.css">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
 > 
  <!-- font awesome -->
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  <script src="onload.js"></script>
  <!-- jquery -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.js"></script>
   <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
  <!-- Icons -->
  <style>
    body {
    color: #ffffff
}

.box {
    margin: auto
}

.card {
    padding: 8%;
    padding-top: 35px;
    margin-top: 60px;
    margin-bottom: 80px
}

textarea[name="message"] {
    resize: none
}

#e-mail {
    height: 45px
}

#message {
    height: 120px
}

input.input-box,
textarea.input-box {
    background-color: #616161;
    border: #616161;
    color: #BDBDBD
}

input.input-box:focus,
textarea.input-box:focus {
    background-color: #000000;
    color: #BDBDBD
}

.rm-border:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none
}

form .form-control::-webkit-input-placeholder {
    color: #9E9E9E
}

::-moz-placeholder {
    color: #9E9E9E !important
}

.btn-purple {
    background-color: #5C6BC0;
    color: #ffffff
}
  </style>
 </head>

<body>
  <!-- nav bar  -->
  <div class="d-flex flex-column flex-md-row align-items-center p-2 px-md-4 mb-2  fixed-top " id="navbar_top">

    <!-- bg-white border-bottom shadow-sm fixed-top  -->

    <h1 class="my-0 mr-md-auto font-weight-normal font-weight-bold fa-font-awesome " style="color:#343A40; "><span
        class="badge badge-dark shadow-sm">NER.ai</span></h1>
    <nav class="my-2 my-md-0 mr-md-3">
      <a class="p-2 text-dark font-weight-bold mx-2" href="/">Home</a>
     
      <a class="p-2 text-dark mx-2" href="#">About</a>

    </nav>
    <div class="row-sm login">
<!--       <a class="btn btn-outline-dark rounded-pill mx-1 sign-up" href="#">Sign up</a>
      <a class="btn btn-dark rounded-pill" href="#">Login</a>

 -->    

          
        </div>

    </div> 
  </div>
</a>
  <!-- nav bar end -->

  <!-- Main area form -->
  <div class="bg-light">
    <div class="container">
        <div class="row justify justify-content-center">
            <div class="col-8">
               
                    <div class="card bg-dark">
                        <div class="row mt-0">
                            <div class="col-md-12 ">
                                <h4 class="">NER</h4>
                                </div>
                        </div>
                        <div class="form-group row mb-3">
                          
                        </div>
                        <div class="form-group row">
                            <div class="col-md-12 mb-2" id="textans">
                              {{ html|markdown}}
                            </div>
                        </div>
                        
                        <div class="form-group row justify-content-center text-center mb-0">
                          <div class="col-12 px-3"> <a href="/" class="col-12 btn btn-block btn-purple rm-border"> Make a new Prediction</a> </div>
                        </div>
                    </div>
                </form> 
            </div>
        </div>
    </div>
</div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <!-- jquery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script>

    $(document).ready(function () {
      $('.container').hover(
        function () {
          $(this).animate({
            marginTop: " -25%",
          }, 200);
        },
        function () {

          $(this).animate({
            marginTop: "0%",
          }, 200);
        }
      );
    });
  </script>
  <script>
    $(".num").counterUp({ delay: 10, time: 100 });
  </script>

</body>
<script>
  if ($(window).width() > 992) {
    $(window).scroll(function () {
      if ($(this).scrollTop() > 70) {
        $('#navbar_top').addClass("bg-white shadow-sm");
        // // add padding top to show content behind navbar
        // $('body').css('padding-top', $('.navbar').outerHeight() + 'px');
      } else {
        $('#navbar_top').removeClass("bg-white shadow-sm");
        // // remove padding top from body
        // $('body').css('padding-top', '0');
      }
    });
  }

</script>

<script>

</script>

  <script src="assets/vendor/jquery/dist/jquery.min.js"></script>
  <script src="assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/js-cookie/js.cookie.js"></script>
  <script src="assets/vendor/jquery.scrollbar/jquery.scrollbar.min.js"></script>
  <script src="assets/vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js"></script>
  <!-- Optional JS -->
  <script src="assets/vendor/chart.js/dist/Chart.min.js"></script>
  <script src="assets/vendor/chart.js/dist/Chart.extension.js"></script>
  <!-- Argon JS -->
  <script src="assets/js/argon.js?v=1.2.0"></script>
</html>